@import "./theme/theme.scss";

.App {
  text-align: center;
}

.header {
  background-color: $primary-color;
  @include layout-horizontal;
  font-size: $uxl-units-size-18;
  color: white;
  padding: 16px;
  font-weight: 500;
}
